.dashboard-container {
  display: flex;
  flex-direction: row;

  @media only screen and (max-width: 768px) {
    flex-direction: column;

    .sidebar-container {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;

      button {
        flex: 1;
      }
    }

    .dashboard-content {
      width: 100%;
    }
  }

  .p-32 {
    padding: 32px;
  }
}

.dashboard-content {
  border-left: 1px solid black;
}
