.sidebar-container {
  display: flex;
  flex-direction: column;
  width: 15%;
  border-right: 1px solid black;
  height: calc(100vh - 85px);
}

button {
  padding: 24px 32px;
  border: 0;
  background: transparent;
  color: black;
  font-size: 18px;
  cursor: pointer;
  text-align: left;
}

button.active {
  background: #333a73;
  color: white;
}

.dashboard-content {
  width: 85%;
}
